*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* comuni */
.flex{
        display: flex;
        flex-wrap: wrap;
}

.flex-centrato{
    align-items: center;
}

.flex-end{
    justify-content:flex-end
}

.contenitore{
    height: 100%;
}

.inline-block{
    display: inline-block;
}


.border{
    border: 1px solid grey;
}

.border-bottom{
    border-bottom: 1px solid grey;
    text-align: center;
}

ul{
    list-style-type: none;
}

.text-center{
    width: 100%;
    text-align: center;
}

.text-end{
    text-align: end;
}

.larghezza-100{
    width: 100%;
}

.max-width-100{
    max-width: 100%;
}

/* margini e padding*/

.margin-destra-20{
    margin-right: 20px;
}

.margin-sinistra-20{
    margin-left: 20px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-35{
    margin-bottom: 35px;
}

.margin-top-200{
    margin-top: 200px;
}

.padding-10{
    padding: 10px;
}

.padding-30{
    padding: 30px;
}

.padding-top-50{
    padding-top:50px;
}

.gap-20{
    gap: 20px;
}



/* riga */
.riga-100{
    width: 100%;
    height: 100%;
    
}

.riga-70{
    max-width: 70%;
    margin: auto;
}

.riga-60{
    max-width: 60%;
    margin: auto;
}


/* colonna */
.colonna-30{
    width: 30%;
}

.colonna-33-20gap{
    width: calc(33% - 20px);
}

.colonna-40-gap20{
    width: calc(40% - 20px);
}

.colonna-33{
    width: calc(100% / 3);
   
}

.colonna-33-min-height{
    width: calc((100% / 3) - 15px);
    min-height: 700px;
}

.colonna-50{
    width: 50%;
}

.colonna-70{
    width: 70%;
}

.colonna-60-gap20{
    width: calc(60% - 20px);
}

.colonna-100{
    width: 100%;
}



/* background colori */
.bg-celeste{
    background-color: rgb(68, 131, 189);
}

.bg-marrone{
    background-color: rgb(97, 8, 43);
}

.bg-azzurro{
    background-color: rgb(0,147,206);
}

.bg-rosso{
    background-color: rgb(255, 28, 28);
}

.bg-rosso-scuro{
    background-color: rgb(213, 0, 31);
}

.bg-celeste-chiaro{
    background-color: rgb(180, 208, 231);
}

.bg-blu{
    background-color: rgb(13, 36, 129);
}

.bg-giallo{
    background-color: rgb(255, 216, 48);
}

.bg-grigio{
    background-color: rgb(245, 245, 245);
}

.bg-verde{
    background-color: rgb(162, 211, 155);
}

/* colori */
.grigio{
    color:rgb(179, 169, 169)
}


/* testo */
.larger{
    font-size: larger;
}

.font-size-18{
    font-size: 18px;
}

.font-size-40{
    font-size: 40px;
}

.bold{
    font-weight: bold;
}


/* Header */
header{
    height: 50px;
    width: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    background-color: white;
}

#logo{
    margin-left: 10px;
    size: 50%;
}

.bottone-blu{
    background-color: blue;
    color: white;
    padding: 5px;
    border: 0px;
}


/* main */
/* section 1 */

.contenitore-grande{
    width: 100%;
    height: 620px;
    margin-top: 50px;
}

#titolo-principale{
    font-size: 70px;
}

#freccia-1{
    font-size: 40px;
}

.contenitore-foto{
    width: 100%;
}
#foto-section-1{
    width: 800px;
}

.larghezza-hr-piccola{
    width: 20%;
}


/* secion 3 */

.bottone-bianco{
    background-color: white;
    border: solid black 1px;
    padding: 5px;
    font-size: 18px;
}

.bottone-bianco{
    background-color: white;
    border: solid black 1px;
    padding: 5px;
    font-size: 18px;
}

/* Secion scacchiera */

.quadrati{
    background-color: blueviolet;
    width: 50%;
    height: calc(100vw / 6);
}

.contenitore-logo{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100%; 
}

.loghi{
    width: 80%;
    filter: invert(100%);
}

.logo{
    width: 60%;
}